@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

body {
    font-family: 'Yuji Boku', serif;
}

/*
    #Note
    使用箇所が見つかりません
    不要ならば削除をおすすめします
    (おそらく練習時の名残)
*/
div {  
    color: rgba(12, 65, 238, 0.5);
}

header {
    z-index: 10;
    height: 100px;
    top: 3rem;
    background-color: rgb(180, 170, 170);
    width: 100%;
    text-align: left;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/*
    #Note
    idかclassを使った指定を推奨します
    出ないと箇条書きリスト全てにこの設定が適用されてしまいます
*/
ul {
    position: absolute;
}
ul li {
    display: inline-block
}

table {
    text-align: center;
}
body{
    background-image: url(IMG_4390.jpg);
    background-size: contain;
    box-sizing: content-box;
}
table {
    border-collapse: collapse;  
}
 
th,td {
    padding: 5px 10px;        
}
 
th {
    background-color: #2196F3; 
    color:  #fff;              
    font-weight:  normal;       
    position:  relative;        
    z-index: 10;              
}
 
td {
    background-color:  #c0c9ff;
    padding-left: 25px;       
}
 
th::after {
    content:'';                 
    position:  absolute;      
    height: 24px;              
    width: 24px;               
    background-color: #2196F3; 
    transform:  rotate(45deg);  
    top: 5px;            
    right: -12px;          
    z-index:  -1;              
} 
 
tr {
    border-bottom:  solid #fff;
}